server:
  port: 8080

spring:
  profiles:
    active: dev
  main:
    allow-circular-references: true
  datasource:
    druid:
      driver-class-name: ${mei.datasource.driver-class-name}
      url: jdbc:mysql://${mei.datasource.host}:${mei.datasource.port}/${mei.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: ${mei.datasource.username}
      password: ${mei.datasource.password}

mybatis:
  #mapper配置文件
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.mei.entity
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true

logging:
  level:
    com:
      mei:
        mapper: debug
        service: info
        controller: info

mei:
  jwt:
    # 设置jwt签名加密时使用的秘钥
    admin-secret-key: kakaowo
    # 设置jwt过期时间
    admin-ttl: 7200000
    # 设置前端传递过来的令牌名称
    admin-token-name: token
  aliyun:
    oss:
      access-key-id: ${mei.aliyun.oss.access-key-id}
      access-key-secret: ${mei.aliyun.oss.access-key-secret}
      bucket-name: ${mei.aliyun.oss.bucket-name}
      endpoint: ${mei.aliyun.oss.endpoint}

knife4j:
  basic:
    enable: true
