<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.mei.mapper.DishFlavorMapper">

    <insert id="insertBatch">
        INSERT INTO mei_take_out.dish_flavor
        (dish_id, name, value)
        VALUES
        <foreach collection="flavors" item="flavor" separator=",">
            (#{flavor.dishId}, #{flavor.name}, #{flavor.value})
        </foreach>
    </insert>

    <delete id="deleteByDishIds">
        DELETE FROM mei_take_out.dish_flavor
        WHERE dish_id IN
        <foreach collection="list" item="dishId" open="(" separator="," close=")" >
            #{dishId}
        </foreach>
    </delete>
</mapper>