<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mei.mapper.EmployeeMapper">
    <select id="queryList" resultType="com.mei.entity.Employee">
        SELECT id, name, username, phone, sex, id_number, status, create_time, update_time, create_user, update_user
        FROM mei_take_out.employee
        <where>
            <if test="name != null and name != '' ">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        ORDER BY create_time DESC
    </select>
</mapper>
