<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mei.mapper.SetMealMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mei_take_out.setmeal
        (category_id, name, price, status, description, image)
        VALUES
        (#{categoryId}, #{name}, #{price}, #{status}, #{description}, #{image})
    </insert>

</mapper>
