<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace等于mapper接口类的全限定名,这样实现对应 -->
<mapper namespace="com.mei.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mei_take_out.user
        (openid, name, phone, sex, id_number, avatar, create_time)
        VALUES
        (#{openid}, #{name}, #{phone}, #{sex}, #{idNumber}, #{avatar}, #{createTime})
    </insert>

    <select id="queryListBetween" resultType="com.mei.entity.User">
        SELECT *
        FROM mei_take_out.user
        WHERE create_time BETWEEN #{begin} AND #{end}
    </select>

    <select id="sumBefore" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM mei_take_out.user
        WHERE create_time &lt; #{begin};
    </select>

    <select id="sumBetween" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM mei_take_out.user
        WHERE create_time BETWEEN #{begin} AND #{end} ;
    </select>
</mapper>